<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq2Sql.Properties.Settings.MyTestDb_mdfConnectionString"
            connectionString="Data Source=(LocalDB)\.;Initial Catalog=MyTestDb.mdf;Persist Security Info=True;User ID=admin;Password=QAZwsx111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>